



ul.navi{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: dimgrey;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 5px;
}

ul.navi li a {
    border-style: solid;
    border-color: aliceblue;
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: x-large;
}

ul.navi li a:hover {
    background-color: aquamarine;
    color: black;
    font-size: 150%;
}

#gb-erc{
    margin-left: 15%;
    padding: 2px 15px;
}
a:visited.wasonpage{
    color: greenyellow;
}
a:link.wasonpage{
    color: red;
}





body{
    background-color: lightgray;

}

#PlayerRankSystemMainDiv{

    border-radius: 20px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

#PlayerRankSystemPlayerList li{
    font-size: 500%;
    text-align: center;
    background-color: red;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: Impact;
    font-size: 500%;
}

.PlayerRankSystemPlayerLine{

}

.logininput{
    padding: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
    font-size: xx-large;

}

.logininput input[type=text]{
    font-size: xx-large;
}

.logininput input[type=password]{
    font-size: xx-large;
}

.logininput input[type=submit]{
    font-size: xx-large;
    margin-bottom: 10px;
    width: 200px;
    font-family: Impact;
}

.logindiv{
    background-color: lightgray;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.header{
    font-family: Impact;
    text-decoration: underline;
    font-size: 300%;
    padding: 2px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin: 0px;

}
